@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: switch to component style */
div#div_name_id
  > div.ant-row.ant-form-item
  > div.ant-form-item-label
  > label.ant-form-item-required:before {
  display: none;
}

svg {
  vertical-align: baseline;
}

.ant-upload-list-item-card-actions .anticon {
  color: red;
  font-size: 20px;
}
